.websters-select {
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
  width: 200px;
  height: 22px;
  border: 1px solid #000;

  &:after{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 20px;
    border-left: 1px solid #000;
    content: '';
  }

  &__item {
    overflow: hidden;
    @include absoluteCenterY();
    right: 20px;
    left: 5px;
    padding: 1px 5px 0;
    box-sizing: border-box;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
  }

  &_mobile {

    select {
      position: absolute;
      top: 0;
      bottom: -1px;
      left: 1px;
      width: 100%;
    }

  }

  &_custom {

    select {
      position: absolute;
      left: -100000px;
    }

  }

  &__popup {
    overflow: hidden;
    position: absolute;
    z-index: 10;
    box-sizing: border-box;
    border: 1px solid #000;

    ul {
      z-index: 1;
    }

    li {
      white-space: nowrap;
      overflow: hidden;
      cursor: pointer;

      &.active {
        color: #fff;
        background: #f00;
      }

    }

  }

}
